<section class="container">
  <section class="header">
    <section class="header__title">
      Discount Coupon
    </section>
    <section class="header__buttons">
      <button class="btn header__btn--prev">PREV</button>
      <button class="btn header__btn--next">NEXT</button>
    </section>
  </section>


  <section class="food">
    <section class="food__info">
      <img class="food__img" src="{{couponImgSrc}}" alt="fish">
      <section class="food__info--description">
        <p class="description__title">FISH SALAD</p>
        <p class="description__status">MEDIUM</p>
      </section>
    </section>

    <section class="pay">
       <section class="pay__cost">
         <p class="pay__cost--prev">$14.99</p>
         <p>$7.90</p>
       </section>
      <button class="get-coupon-btn">GET COUPON</button>
    </section>
  </section>
</section>
