<section class="container">
  <section class="title-container">
    <section class="title">
      Discount Coupon
    </section>
    <section class="buttons">
      <button class="btn">PREV</button>
      <button class="btn">NEXT</button>
    </section>
  </section>


  <section class="main">
    <section class="food">
      <img src="./assets/images/pic2.png" alt="fish">
      <section class="description">
        <p class="fish">FISH SALAD</p>
        <p>MEDIUM</p>
      </section>
    </section>

    <section class="pay">
       <section class="cost">
         <p class="through">$14.99</p>
         <p>$7.90</p>
       </section>
      <button class="get-coupon-btn">GET COUPON</button>
    </section>
  </section>
</section>
