<section class="container">
  <section class="description">
    <section class="text">
      <p class="title">steak with tomato</p>
      <p class="description-text">
        Salisbury Steak is made with ground beef that has been shaped into patties, while Swiss Steak is made with actual steak. For Swiss Steak, the beef is rolled or pounded and then braised in a
      </p>
    </section>
    <section class="select">
      <section class="checkbox-medium checkbox">
        <input id="medium" type="checkbox">
        <label for="medium">medium</label>
      </section>
      <section class="checkbox-large checkbox">
        <input id="large" type="checkbox">
        <label for="large">large</label>
      </section>
    </section>
    <section class="buttons">

    </section>
  </section>

  <section class="food-img">
    <img alt="food" src="assets/images/pic1.png">
  </section>
</section>
