<section class="container">
  <section class="empty-container"></section>
  <section class="menu">
    <a><span routerLink="products" routerLinkActive="active">products</span></a>
    <a><span>story</span></a>
    <a><span>manufacturing</span></a>
    <a><span>packaging</span></a>
    <a><span>team</span></a>
  </section>

  <section class="nav-icons">
    <img alt="person" src="../../assets/images/person.png">
    <img alt="bag" src="assets/images/bag.png">
    <img alt="search" src="assets/images/search.png">
  </section>
</section>
