<section class="container">
  <section class="empty-container"></section>
  <section class="menu">
    <a class="menu__nav"><span class="menu__nav--link" routerLink="products" routerLinkActive="active__link">products</span></a>
    <a class="menu__nav"><span class="menu__nav--link">story</span></a>
    <a class="menu__nav"><span class="menu__nav--link">manufacturing</span></a>
    <a class="menu__nav"><span class="menu__nav--link">packaging</span></a>
    <a class="menu__nav"><span class="menu__nav--link">team</span></a>
  </section>

  <section class="nav__icons">
    <img routerLink="auth/login" class="nav__icons--img" alt="person" src="../../../../assets/images/person.png">
    <img class="nav__icons--img" alt="bag" src="../../../../assets/images/bag.png">
    <img (click)="openSearchInput()" class="nav__icons--img search" alt="search" src="../../../../assets/images/search.png">
    <input #searchInput class="nav__icons--search" type="text">
  </section>
</section>
