<section class="form-container">
  <form class="form-container--sign-in" action="">
    <section class="sign-in-input email">
      <label class="field-label">E-mail</label>
      <input class="email-input field" type="email">
    </section>
    <section class="sign-in-input password">
      <label class="field-label">Password</label>
      <input class="password-input field" type="password">
    </section>
    <section class="sign-in-buttons">
      <button class="btn" type="button">Sign In</button>
      <button class="btn" type="button">Sign Up</button>
    </section>
  </form>
</section>
